<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>ExtendVision</title>

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/modules/bootstrap-5.1.3/css/bootstrap.css') }}">
	<!-- Style CSS (White)--> 
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
	<!-- FontAwesome CSS-->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/modules/fontawesome6.1.1/css/all.css') }}">
	<!-- Boxicons CSS-->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/modules/boxicons/css/boxicons.min.css') }}">

</head>
<body>
  
  <!--Topbar -->
  <div class="topbar transition">
	<div class="bars">
		<button type="button" class="btn transition" id="sidebar-toggle">
			<i class="fa fa-bars"></i>
		</button>
	</div>
		<div class="menu">
			<ul>
				<li class="nav-item dropdown dropdown-list-toggle">
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					   <i class="fa fa-bell size-icon-1"></i><span class="badge bg-danger notif">1</span>
					</a> 				 
					<div class="dropdown-menu dropdown-list">
						<div class="dropdown-header">Notificações</div>
						<div class="dropdown-list-content dropdown-list-icons">
							<div class="custome-list-notif"> 
							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-info text-white">
								  <i class="fas fa-bell"></i>
								</div>
								<div class="dropdown-item-desc">
								   Veja agora, novo projeto  de extensão adicionado!
								  <div class="time">Hoje</div>
								</div>
							  </a>
 
							</div>
						</div>

						<div class="dropdown-footer text-center">
						  <a href="#">Ver tudo</a>
						</div>

					  
				  </li>
			 
				  <li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  <img src="{{url_for('static', filename='img/usuario.png')}}" alt="">
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" id="profile" href=""><i class="fa fa-user size-icon-1"></i> <span>Perfil</span></a>
						<hr class="dropdown-divider">
						<a class="dropdown-item" href="http://127.0.0.1:5000/"><i class="fa fa-sign-out-alt  size-icon-1"></i> <span>Sair</span></a>
					</ul>
				  </li>
			</ul>
		</div>
	</div>
<div id="navbar_professor">
<div class="sidebar transition overlay-scrollbars animate__animated  animate__slideInLeft">
    <div class="sidebar-content"> 
        <div id="sidebar">
        
        <!-- Logo -->
        <div class="logo">
                <h2 class="mb-0"><img src="{{url_for('static', filename='img/cap.png')}}"> ExtendVision</h2>
        </div>

        <ul class="side-menu">
            <li>
                <a class="" href="http://127.0.0.1:5000/professor/home">
                    <i class='bx bxs-dashboard icon' ></i> PROJETOS
                </a>
            </li>

            <!-- Divider-->
            <li class="divider" data-text="STARTER">PROFESSOR</li>

            <li>
                <a href="#">
                    <i class='fa fa-th icon' ></i> 
                    Conta 
                    <i class='bx bx-chevron-right icon-right' ></i>
                </a>
                <ul class="side-dropdown">
                    <li><a id="perfil" href="">Perfil</a></li>
                    <li><a id="meus_projetos" href="">Meus projetos</a></li>
                    <li><a id="minhas_inscricoes" href="">Cadastrar projeto</a></li>
                </ul>
            </li>

            <li class="divider" data-text="Atrana">Sobre</li>

            <li>
                <a href="blank-pages.html">
                    <i class='bx bxs-meh-blank icon'></i> 
                    Desenvolvedores
                </a>
            </li>
            <li>
                <a href="blank-pages.html">
                    <i class='bx bxs-meh-blank icon'></i> 
                    O projeto
                </a>
            </li>

        </ul>

        <div class="ads">
            <div class="wrapper">
                <div class="help-icon"><i class="fa fa-circle-question fa-3x"></i></div>
                <p>Precisa de ajuda com <strong>ExtendVision</strong>?</p>
                <a href="docs/" class="btn-upgrade">Documentation</a>
             </div>
        </div>
    </div>

   </div> 
 </div>
</div><!-- End Sidebar-->
</div>
<script type="module" src="{{ url_for('static', filename='scripts/utilites/url-professor-navbar.js') }}"></script>
</body>
</html>