<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users/sign.css') }}">
    <title>Entrar</title>

    <!-- <script>
        // Verifica se há mensagens flash e exibe um pop-up se houver
        document.addEventListener('DOMContentLoaded', function () {
            var messages = "{{ get_flashed_messages() }}";
            if (messages !== "") {
                alert(messages);
            }
        });
    </script> -->
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{{url_for('static', filename='img/signup-pic.jpg')}}" alt="">
        </div>
        <div class="form">
            <form action="/users/getlogin" method="post">
                
                <div class="form-header">
                    <div class="title">
                        <h1>Entre na sua conta</h1>
                    </div>
                    <div class="login-button" style="padding-left: 30px;">
                      <button type="submit" name="register" value="register">Criar conta</button>
                    </div>
                </div>

                <div>
                    <div class="input-box">
                        <label for="email">Email Acadêmico</label>
                        <input id="email" type="text" name="email" placeholder="Digite seu email">
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Digite sua senha">
                    </div>

                </div>

                <div class="continue-button">
                    <button type="submit" id="login">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</body>

<!-- <script src="{{ url_for('static', filename='scripts/users/signin.js') }}"></> -->

</html>